.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #light .card {
    margin: 20px;
    width: 200px;
    transition: transform 0.3s;
    background: linear-gradient(to bottom, #41a56d, #87c396, #b8dcb1);
    color: #000;
  }
  #dark .card {
    margin: 20px;
    width: 200px;
    transition: transform 0.3s;
    background: rgb(0, 33, 8);
    color: rgb(255, 255, 255);
    border: 2px solid #393939; /* Adiciona uma borda verde ao cartão */
  }
  .card:hover {
    transform: scale(1.1);
  }

 

  .atletaPage {
    transition: margin-left 0.3s ease;
  }

 #light .searchField {
    position: fixed !important;
    top: 12px !important;
    right: 18px !important;
    width: 20%;
  }
 #dark .searchField {
    position: fixed !important;
    top: 12px !important;
    right: 18px !important;
    width: 20%;
  }
 

#light .botao-novo{
    display: flex!important;
    background: linear-gradient(to bottom, #41a56d, #87c396, #b8dcb1)!important;
    color: rgb(0, 0, 0)!important;
    font-weight: bold;
    position:fixed!important;
    top: 100px !important;
    right: 18px !important;
}
#dark .botao-novo{
    display: flex!important;
    background: rgb(0, 33, 8);
    font-weight: bold;
    color: white!important;
    position:fixed!important;
    top: 100px !important;
    right: 18px !important;
}

@media (max-width: 586px) {

    .cardContainer{
        margin-top: 10px;
    }
  }
  