div .principal-atleta{
  height: 100vh;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:center; /*arruma o espaçamento entre os cards */
  margin-top: 20px;
}

.imagem-atleta {
  transition: opacity .3s ease-in-out;
}

.imagem-atleta:hover {
  opacity: 0.5;
}
#light .card {
  margin: 20px;
  width: 300px; /*muda o tamanho dos cards*/
  /* transition: transform 0.1s ease-in-out; aqui faz o card vir para frente quando passa o mouse por cima  */
  background: #fff;
  color: #000;
  border-radius: 8%;
  box-shadow: rgb(163, 163, 163) 0 0 10px;
}
#light .card-inativo {
  margin: 20px;
  width: 300px; /*muda o tamanho dos cards*/
  /* transition: transform 0.1s ease-in-out; aqui faz o card vir para frente quando passa o mouse por cima  */
  background: #ffffff;
  color: #000;
  border-radius: 8%;
  box-shadow: rgb(163, 163, 163) 0 0 10px;
  /* box-shadow: rgba(253, 0, 0, 0.398) 0 0 10px; */
}
#dark .card-inativo {
  margin: 20px;
  width: 300px;
  transition: transform 0.1s ease-in-out;
  background: #393939;
  color: rgb(255, 255, 255);
  border: 2px solid #393939; /* Adiciona uma borda verde ao cartão */
  border-radius: 8%;
  box-shadow: rgb(39, 39, 39) 0 0 10px;
  /* box-shadow: rgba(226, 0, 0, 0.34) 0 0 10px; */
}
#light .card-inativo:hover {
  background-color: #ff00006e; 
}
#dark .card-inativo:hover {
  background-color: #ff0000ae; 
}
#light .card:hover {
  background-color: #ccc; 
}
#dark .card:hover {
  background-color: #41a56d; 
}
#dark .card {
  margin: 20px;
  width: 300px;
  transition: transform 0.1s ease-in-out;
  background: #393939;
  color: rgb(255, 255, 255);
  border: 2px solid #393939; /* Adiciona uma borda verde ao cartão */
  border-radius: 8%;
  box-shadow: rgb(39, 39, 39) 0 0 10px;
}

@keyframes minhaAnimacao {
  50% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1.1);
  }
}
 .card:hover {
  animation: minhaAnimacao 0.6s ease-in-out;
} 
 .card-inativo:hover {
  animation: minhaAnimacao 0.6s ease-in-out;
} 


.atletaPage {
  transition: margin-left 0.3s ease;
  height: 100%; 
  overflow-y: auto;
}

#light .searchField {
  width: 40%;
  margin-left: 20px;
}
#light .pesquisar {
  display: flex;
  position: relative;
  top: 12px;
  justify-content: center!important;
  width: 100%;
}
#dark .searchField {
  width: 40%;
  color: #fff!important;
  /* margin-left: 80px; */
  position: relative;
  left:8%;  
}
#dark .pesquisar {
  /* display: flex;
  position: relative;
  top: 12px;
  justify-content: center!important;*/
  width: 100%;
  background-color: #232323!important;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex!important;
  color: rgb(255, 255, 255)!important;
  font-weight: bold;
  position:fixed!important;
  /* top: 5% !important; */
  z-index: 200;
}

#light .botao-novo{
  display: flex!important;
  background: #41a56d!important;
  color: rgb(255, 255, 255)!important;
  font-weight: bold;
  position:fixed!important;
  /* top: 5% !important; */
  left: 92%  !important;
}
#dark .botao-novo{
  display: flex!important;
  background: #41a56d;
  font-weight: bold;
  color: white!important;
  position:fixed!important;
  /* top: 5% !important; */
  left: 92%  !important;
}
.nome-imagem{
display: flex!important;
align-items: center;
margin-left: 10px ;
}
#light div.botoes-modal{
background: #41a56d; 
border-top-left-radius: 5px;
border-top-right-radius: 5px;
display: flex; 
justify-Content: end;
z-index: 1;
box-shadow: rgb(163, 163, 163) 0 0 20px;
width: 100%;
}
#dark div.botoes-modal{
  background: #41a56d; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex; 
  justify-Content: end;
  z-index: 1;
  box-shadow: rgb(39, 39, 39) 0 0 10px;
  width: 100%;
}
#light .icone-fechar{
margin-left: 10px;
margin-right: 1px;
}
#dark .icone-fechar{
margin-left: 10px;
margin-right: 1px;
}

#light .formulario-modal{
background: #f8fff9;
width: 100%; 
/* height: 100%; */
border-bottom-left-radius: 10px; 
border-bottom-right-radius: 10px;  
min-width: 0px;
min-height: none;
overflow-y: auto;
overflow-x: auto;
box-shadow: rgb(163, 163, 163) 0 0 20px;
/* max-height: 100vh; */
}
#dark .formulario-modal{
/* background: #e0dfdff6; */
background-color: #555;
width: 100%; 
/* height: 100%; */
border-bottom-left-radius: 10px; 
border-bottom-right-radius: 10px; 
min-width: 0px;
min-height: none;
overflow-y: auto;
overflow-x: auto;
box-shadow: rgb(39, 39, 39) 0 0 10px;

}

@media (max-width: 586px) {
  .cardContainer{
      margin-top: 10px;
  }
  


}
@media (max-width: 400px) {

  .cardContainer{
      margin-top: 70px;
  }

}

#light .botao-salvar{
  margin: 20px; 
  position: relative;
  width: 25%;
  display: flex!important;
  top: 100%;
  background-color: #41a56d!important;
  font-weight: bold;
  font-size: 16px;
}

#dark .botao-salvar{
  margin: 20px; 
  position: relative;
  width: 25%;
  display: flex!important;
  top: 100%;
  background-color: #41a56d!important;
  font-weight: bold;
  font-size: 16px;
}
#dark .formulario-campos{
  margin-top: 20px;
  margin-left: 50px;
  color: #fff!important;
  
}
#light .ViewTable{
  margin-left: 20px;
}
#dark .ViewTable{
  margin-left: 20px;
  position: relative;
  left: 27%;
}

/* ajustar estilos da tabela daqui para baixo*/
#light .forms-tabela .MuiDataGrid-cell {
  color: black;
  font-weight:300; /* Cor do texto das células */
  border-color: #393939a5;
}
#light .forms-tabela .MuiDataGrid-columnHeader {
  background-color: #393939a5;
  color: #fff; /* Cor de fundo do cabeçalho */
  font-size: 18px;
}

#light .forms-tabela .MuiDataGrid-row:nth-child(odd) {
  background-color: #f4f4f4; /* Cor de fundo das linhas ímpares */
}
#light .forms-tabela .MuiDataGrid-row:nth-child(even) {
  background-color: #f4f4f4; /* Cor de fundo das linhas pares*/
}
#dark .forms-tabela .MuiDataGrid-cell {
  color: white;
  font-weight:400; /* Cor do texto das células */
  border-color: white;
}
#dark .forms-tabela .MuiDataGrid-columnHeader {
  background-color: #41a56d;
  color: rgb(255, 255, 255); /* Cor de fundo do cabeçalho */
  font-size: 18px;
  font-weight: bold!important;
}

#dark .forms-tabela .MuiDataGrid-row:nth-child(odd) {
  background-color: #464646; /* Cor de fundo das linhas ímpares */
}
#dark .forms-tabela .MuiDataGrid-row:nth-child(even) {
  background-color: #393939; /* Cor de fundo das linhas pares*/
}

#light .forms-tabela .MuiDataGrid-row:hover {
  background-color: #41a56d; /* Cor de fundo quando o mouse passa por cima no tema claro */
}

#dark .forms-tabela .MuiDataGrid-row:hover {
  background-color: #41a56d; /* Cor de fundo quando o mouse passa por cima no tema escuro */
}


.div-tabela{
 margin-left: 5%;
 margin-top: 2%;
 width: 90%;
}

.imagem-atleta{
  border-radius: 50%;
  max-height: 120px;
  max-width: 120px;
  margin-bottom: 15px;
  
}
/* cor paginação */
#dark .MuiPaginationItem-root{
  color: #ffffff!important;
}

#light .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#dark .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titulo-dados {
  text-align: center;
  width: 100%;
}
.campos-container-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* Estilizando a barra de rolagem */
.formulario-modal::-webkit-scrollbar {
  width: 17px;
}

.formulario-modal::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.formulario-modal::-webkit-scrollbar-thumb {
  background: #41a56d;
}

.formulario-modal::-webkit-scrollbar-thumb:hover {
  background: #54ca6c;
}


#light .tabs-modal {
  color: #41a56d;
  font-size: 18px;
  font-weight: bold;
  
}
#dark .tabs-modal {
  color: #41a56d;
  
}

#light .tabs-modal .MuiTabs-indicator {
  background-color: #41a56d;
}
#dark .tabs-modal .MuiTabs-indicator {
  background-color: #41a56d;
}

#light .tabs-modal .MuiTab-wrapper {
  font-size: 15px;
  font-weight:bold;
}
#dark .tabs-modal .MuiTab-wrapper {
  font-size: 15px;
  font-weight:bold;
}
#light .formulario-campos{
  flex: 1 0 33%; 
  margin: 15px; 
}
#dark .formulario-campos{
  flex: 1 0 33%; 
  margin: 15px; 
}

.formulario{
  margin-top: 10px;
}

.coluna-documentos{
  /* border: 1px solid black; */
  padding: 5px;
  text-align: left;
}
.tabela-documentos{
  width: 90%;
  margin: 3%;
  border-collapse: collapse;
}



/* DESIGN RESPONSIVO PAGINA DE USUARIOS - INICIO*/

.fechar-modal-responsivo{
  color: #ccc!important;
  position: relative;
  width: 35%!important;
  display: flex!important;
  background-color: #393939!important;
  font-size: 16px!important;
}


.imagem-atleta-responsivo{
  border-radius: 50%;
  max-height: 120px;
  max-width: 120px;
  margin-bottom: 15px;
}

.formulario-responsivo{
  align-items: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.campos-container-div-responsivo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.formulario-campos-responsivo{
  flex: 1 0 90%; 
  margin: 10px!important; 
  margin-top: 20px;
  margin-left: 50px;
  /* color: #fff!important; */
}



/* DESIGN RESPONSIVO PAGINA DE USUARIOS - FIIMM*/