.configuracoes-div{
    height: 100vh;
    margin-left: 18%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}
.configuracoes-label{
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}