/* .Agenda {
	text-align: center;
} */
.div-geral-calendario{
	display: flex;
	justify-Content: center;
	height: 100vh;
}
.div-interna-calendario{
	margin-top: 3%;
	width: 80%;
	height: 88%;
	align-items: center;
	/* position:static; */
	overflow-y: auto;
}


.botao-adicionar-evento{
	display: flex!important;
	background: #41a56d!important;
	color: rgb(255, 255, 255)!important;
	font-weight: bold;
	position:fixed!important;
	top: 3% !important;
	left: 92%  !important;
  }

  .texto-central-agenda{
	justify-content: center;
	display: flex;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #light .calendario{
	background-color: white;
	border-radius: 10px;
	padding: 10px;
  }
  #dark .calendario{
	background-color: rgb(91, 91, 91);
	border-radius: 10px;
	padding: 10px;
  }
 
/* .modal-agendamento .MuiDialog-paper {
    width: 100%!important;  
} */

.div-calendario-datetimepicker{
	margin-top: 20px;
	align-items: center;
	justify-content: center;
}
.calendario-datetimepicker{
	margin-left: 20px!important;
}
.div-calendario-datetimepicker{
	display: flex;
	justify-content: center;
}

.MuiDialogActions-root{
	justify-content: center!important;
}

.botao-salvar{
	background-color: #41a56d!important;
	color: white!important;
}

.botao-fechar{
	background-color: #393939a5!important;
	color: white!important;
}


/* PERSONALIZAÇÃO CALENDARIO WHITE*/

#light .calendario {
	background-color: #f5f5f5; /* Cor de fundo do calendário */
	border-radius: 10px; /* Bordas arredondadas */
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15); /* Sombra ao redor do calendário */
	color: #333; /* Cor do texto */
  }
  
  /* Estilo para os dias do calendário */
#light .calendario .rbc-day-bg {
	background-color: #fff; /* Cor de fundo dos dias */
  }
  
  /* Estilo para os eventos do calendário */
#light .calendario .rbc-event {
	background-color: #41a56d; /* Cor de fundo dos eventos */
	color: #fff; /* Cor do texto dos eventos */
	border-radius: 5px; /* Bordas arredondadas para os eventos */
	padding: 5px; /* Espaçamento interno para os eventos */
  }
  
  /* Estilo para os eventos do calendário ao passar o mouse */
#light .calendario .rbc-event:hover {
	background-color: #339a5b; /* Cor de fundo dos eventos ao passar o mouse */
  }

  /* Estilo para os botões do calendário */
#light .calendario .rbc-btn-group button {
	background-color: #41a56d; /* Cor de fundo dos botões */
	color: #fff; /* Cor do texto dos botões */
	border: none; /* Remove a borda dos botões */
	margin: 0 5px; /* Adiciona uma margem ao redor dos botões */
  }
  
  /* Estilo para o mês do calendário */
#light .calendario .rbc-toolbar-label {
	font-size: 2em; /* Tamanho da fonte do mês */
	color: #41a56d; /* Cor do texto do mês */
  }
  
  /* Estilo para o cabeçalho do dia da semana */
#light .calendario .rbc-header {
	background-color: #41a56d; /* Cor de fundo do cabeçalho do dia da semana */
	color: #fff; /* Cor do texto do cabeçalho do dia da semana */
	font-size: 16px;
	font-weight: bold;
	border-radius: 2px; /* Bordas arredondadas para o cabeçalho do dia da semana */

  }
/* Estilo para os numerais do mês */
#light .calendario .rbc-date-cell {
	font-size: 1.3em; /* Tamanho da fonte dos numerais */
	color: #41a56d; /* Cor dos numerais */
  }
/* PERSONALIZAÇÃO CALENDARIO BLACK*/

#dark .calendario {
	background-color: #626262; 
	border-radius: 10px; /* Bordas arredondadas */
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15); /* Sombra ao redor do calendário */
	color:#fff; 
  }
  
  /* Estilo para os dias do calendário */
#dark .calendario .rbc-day-bg {
	background-color: #484848; /* Cor de fundo dos dias */
  }
  
  /* Estilo para os eventos do calendário */
#dark .calendario .rbc-event {
	background-color: #41a56d; /* Cor de fundo dos eventos */
	color: #fff; /* Cor do texto dos eventos */
	border-radius: 5px; /* Bordas arredondadas para os eventos */
	padding: 5px; /* Espaçamento interno para os eventos */
  }
  
  /* Estilo para os eventos do calendário ao passar o mouse */
#dark .calendario .rbc-event:hover {
	background-color: #339a5b; /* Cor de fundo dos eventos ao passar o mouse */
  }

  /* Estilo para os botões do calendário */
#dark .calendario .rbc-btn-group button {
	background-color: #383838; /* Cor de fundo dos botões */
	color: #fff; /* Cor do texto dos botões */
	border: none; /* Remove a borda dos botões */
	margin: 0 5px; /* Adiciona uma margem ao redor dos botões */
  }
  
  /* Estilo para o mês do calendário */
#dark .calendario .rbc-toolbar-label {
	font-size: 2em; /* Tamanho da fonte do mês */
	color: #ffffff; /* Cor do texto do mês */
  }
  
  /* Estilo para o cabeçalho do dia da semana */
#dark .calendario .rbc-header {
	background-color: #41a56d; /* Cor de fundo do cabeçalho do dia da semana */
	color: #fff; /* Cor do texto do cabeçalho do dia da semana */
	font-size: 16px;
	font-weight: bold;
	border-radius: 2px; /* Bordas arredondadas para o cabeçalho do dia da semana */

  }
/* Estilo para os numerais do mês */
#dark .calendario .rbc-date-cell {
	font-size: 1.3em; /* Tamanho da fonte dos numerais */
	color: #ffffff; /* Cor dos numerais */
}
#dark .rbc-agenda-event-cell,#dark .rbc-agenda-date-cell,#dark .rbc-agenda-time-cell {
	color: #fff;
}

