.home-geresports{
  height: 130vh;
}
.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.resumo, .grafico{
  width: 80%;
}
.resumo{
  width: 20%;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.resumos-div{
  display: flex;
  width: 80%;
}
.grafico-pizza{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.grafico-3{
  display: flex;
  width: 80%;
}
.grafico{
  display: flex;
  width: 25%;
}
.card-grafico{
  width: 100%;
  margin-right: 20px;
}
#dark .ant-card{
  background-color: #393939;
  color: #fff;
  border: 1px solid #393939;
}
#dark .ant-card-bordered{
  color: #fff;
}
.grafico-2, .grafico-media-idade{
  width: 50%;
}
.grafico-2{
  margin-right: 10px;
}

.numeros-grandes{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 120%;
}

@media (max-width: 768px) {
  .dashboard{
    flex-direction: column;
  }
  .resumo, .grafico{
    width: 100%;
  }

  .resumos-div{
    flex-direction: column;
  }
  .grafico-3{
    flex-direction: column;
  }
 
  .grafico-2, .grafico-media-idade{
    width: 100%;
  }
  .home-geresports{
    height: 330vh;
  }
}

@media (max-width: 520px) {
  .home-geresports{
    height: 300vh;
  }
}

#dark .ant-card-head-title{
  color: #fff;
}