.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 18%;
  transition: width 0.3s ease;  
}
#dark .sidebarcollapsed, #light .sidebarcollapsed{
  width: 50px!important;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #000;
  position: absolute;
}
#dark .nav-cabcollapsed, #light .nav-cabcollapsed{
  margin-top: 10%;
  margin-left: 5px;
  flex-direction: column;
  display: flex;
}
#dark .toggle-button, #light .toggle-button{
  position: absolute;
  left: 70%;
  bottom: 10px;
  width: 65px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.sidebarcollapsed nav{
  width: 100%;
  padding: 1em; /* se remover aqui tira os active  que fica pra fora*/
  transition: opacity 0.3s ease;
  flex-direction: column; /* Adicionado */
  display: flex;
}

.sidebar nav {
  width: 100%;
  padding: 1em; /* se remover aqui tira os active  que fica pra fora*/
  transition: opacity 0.3s ease;
  flex-direction: column; /* Adicionado */
  display: flex;
}

.aside-button, #light .aside-button {
  position: absolute;
  left: 70%;
  bottom: 10px;
  width: 65px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#light .aside-button,  #light .toggle-button {
  background-color: #41a56d;
}

.nav-link {
  margin-top: 18px;
  color: #ffffff; 
}

/* Cor das letras quando o link está ativo */
.nav-link.active {
  color: #000000; 
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

 #dark .sidebar {
  background-color: hsla(0, 0%, 0%, 0.941)!important;
}

#light .sidebar, #light .sidebarcollapsed {
  background: linear-gradient(to bottom, #41a56d, #87c396, #b8dcb1);
  color: #000;
}
#light .aside-button:hover,  #light .toggle-button:hover {
  background-color: #87c396; /* Cor de fundo ao passar o mouse */
  border-color: #003501; /* Cor da borda ao passar o mouse */
}
#light a.nav-link:hover{
  color: #000000; /* Cor de fundo ao passar o mouse */
  border-color: #003501; 
}
#dark a.nav-link:hover{
  color: #003501;
}
#light a.nav-link{
  color: #ffffff;
}

#light .active{
  background-color: #259b2737;
}

/*810x530*/

@media (max-width: 810px) {
  .sidebar {
    width: 50px!important;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #000;
    position: absolute;
  }
  .nav-link span {
    display: none;
  }
  .toggle-button {
    display: none;
  }
  .aside-button {
    display: none;
  }
}

