.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* altura é agora 100% da altura da janela de visualização */
  width: 18%;
  transition: width 0.3s ease;  
}
#dark .sidebarcollapsed, #light .sidebarcollapsed{
  width: 50px!important;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #232323;
  position: fixed;
}
#dark .nav-cabcollapsed, #light .nav-cabcollapsed{
  margin-top: 10%;
  margin-left: 5px;
  flex-direction: column;
  display: flex;
}
#dark .toggle-button, #light .toggle-button{
  position: absolute;
  left: 70%;
  bottom: 10px;
  width: 65px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.sidebarcollapsed nav{
  width: 100%;
  padding: 1em; /* se remover aqui tira os active  que fica pra fora*/
  transition: opacity 0.3s ease;
  flex-direction: column; 
  display: flex;
}

.sidebar nav {
  width: 100%;
  padding: 1em; /* se remover aqui tira os active  que fica pra fora*/
  transition: opacity 0.3s ease;
  flex-direction: column; 
  display: flex;
}

.aside-button, #light .aside-button {
  position: absolute;
  left: 70%;
  bottom: 10px;
  width: 65px;
  align-items: center;
  justify-content: center;
  /* display: flex; */ /* SE ATIVAR QUANDO ATINGIR MAIS DE 810PX VAI HABILITAR O BOTÃO*/
}

#light .aside-button,  #light .toggle-button {
  background-color: #6db98e;
}

.nav-link {
  margin-top: 18px;
  color: #ffffff; 
  font-weight: 600;
}

/* Cor das letras quando o link está ativo */
.nav-link.active {
  color: #18a058!important;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

 #dark .sidebar {
  background-color: #232323!important;
}

#light .sidebar, #light .sidebarcollapsed {
  background: #ffffff;
  color: #232323;
}
#light .aside-button:hover,  #light .toggle-button:hover {
  background-color: #87c396; /* Cor de fundo ao passar o mouse */
  border-color: #003501; /* Cor da borda ao passar o mouse */
}
#light a.nav-link:hover{
  color: #000000; /* Cor de fundo ao passar o mouse */
  border-color: #003501; 
}
#dark a.nav-link:hover{
  color: #003501;
}
#light a.nav-link{
  color: rgb(51, 54, 57);
}

#light .active{
  background-color: #6dac886f;
}
#dark .active{
  background-color: #6dac886f;
}

@media (max-width: 810px) {
  .nav-link-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
 
  .sidebar {
    width: 50px!important;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
    position: absolute;
  }
  .nav-link span {
    display: none;
  }
  .toggle-button {
    display: none;
  }
  .aside-button {
    display: none;
  }
  
}

.nav-link-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.img-usuario-logado, .img-usuario-logado-colapssed{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

#dark .div-usuario-logado{
  display: flex;
  background-color: #93939330;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Trebuchet MS', sans-serif;
}
#light .div-usuario-logado{
  display: flex;
  background-color: #93939330;
  border-radius: 10px;
  color: #000000;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Trebuchet MS', sans-serif;
}
