
.App {
  font-family: "Ubuntu", sans-serif;
  
  /*  height: 100vh;*/
  /* width: 100vw;
  height: 100vh;
  display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#light {
  background-color: #ebf6ee;
  color: black;
}

#dark {
  background-color: #151515b3;
  color:#ebf6ee;

}

body {
  margin: 0;
  padding: 0;
}

body .main {
  width: 400px;
  height: 400px;

  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#light .main {
  background-color: #fff;
}

#dark .main {
  background-color: #000000;
}



@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  } 
}
.switch {
  display: flex;
}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}
.switch {
  display: flex;
  position: absolute; 
  bottom: 0; 
  right: 20px; 
  height: 100px;
  align-items: center;
  justify-content: flex-end; 
  padding-right: 10px; 
}
